<footer id="footer">
    <div class="container d-md-flex py-4">

        <div class="mr-md-auto text-center text-md-left">
            <div class="copyright">
                &copy; Copyright <strong><span>2021</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by iRoamNet | info@iroamnet.com | +251-920-609-060
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="https://t.me/iroamnet" target="_blank" class="twitter"><i class="fa fa-telegram"></i></a>
            <a href="https://www.facebook.com/IRoamnet-System-Solutions-Plc-290059688159923" target="_blank"
                class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://www.instagram.com/iroamnet/" target="_blank" class="instagram"><i
                    class="fa fa-instagram"></i></a>
            <a href="https://twitter.com/iroamnet" target="_blank" class="google-plus"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/company/iroamnet-system-solutions" target="_blank" class="linkedin"><i
                    class="fa fa-linkedin"></i></a>
        </div>
    </div>
</footer>