.new-container {
    min-height: 100vh;
    border: 1px solid white;
    z-index: -1;
    overflow-y: hidden;
}

.add-btn {
    margin-top: 120px;
    margin-left: 150px;
}

.newsfeed-card {
    width: 280px;
    height: 380px;
    float: left;
    margin-left: 5vw;
    margin-top: 50px;
}

.card-img {
    width: 250px;
    height: 55%;
    margin-left: 5px;
}

.description {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 14px;
    color: #686868;
    font-weight: 400;
}

.btn-actions {
    float: right;
    margin-right: 7px;
}
