<app-admin-nav></app-admin-nav>

<div class="new-container">
    <div class="div-form">
        <mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>
        <h3>Update Product</h3>
        <form id="f" class="mt-4" [formGroup]="form">

            <mat-form-field appearance="outline" class="col-sm-12">
                <mat-label>Title</mat-label>
                <input matInput type="text" placeholder="product title" formControlName="title">
            </mat-form-field>
            <div class="col-sm-6"></div>

            <mat-form-field appearance="outline" class="col-sm-12">
                <mat-label>Price</mat-label>
                <input matInput type="text" placeholder="price" formControlName="price">
            </mat-form-field>
            <div class="col-sm-6"></div>

            <mat-form-field appearance="outline" class="col-sm-12">
                <mat-label>Currency</mat-label>
                <input matInput type="text" placeholder="currency" formControlName="currency">
            </mat-form-field>
            <div class="col-sm-6"></div>

            <mat-form-field appearance="outline" class="col-sm-12">
                <mat-label>Description</mat-label>
                <textarea matInput rows="5" placeholder="A brief description of the product."
                    formControlName="description"></textarea>
            </mat-form-field>
            <div class="col-sm-6"></div>

            <button type="button" (click)="save()" class="btn btn-outline-primary">Save</button>
        </form>
    </div>
</div>