<app-navbar></app-navbar>

<div class="new-container">
    <mat-progress-bar mode="indeterminate" *ngIf="busy"></mat-progress-bar>

    <div class="mt-3">
        <ng-container *ngFor="let product of products">
            <mat-card class="newsfeed-card">
                <mat-card-header>
                    <mat-card-title>{{(product.title.length>22)?
                        (product.title | slice:0:22)+'...':
                        (product.title)}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image class="card-img"
                    src="https://api.iroamnet.com/iroamnetapi/images/{{product.image}}">
                <mat-card-content>
                    <h3 class="price">{{product.currency}} {{product.price}}</h3>
                    <p class="description">
                        {{ (product.description.length>100)?
                        (product.description | slice:0:100)+'...':
                        (product.description) }}
                    </p>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </div>
</div>